/* Typography */
* {
    font-family: 'Open Sans', var(--sans-serif-fallback);
}

/* Normalize lists */
ul {
    padding-left: 0;
}

li {
    margin-left: 1.25rem;
}

/* Animations & transitions */
@media (prefers-reduced-motion: no-preference) {
    * {
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }

    a {transition-property: color;}
    a.link, a.visited {transition-property: transform;}
}
