/* Typography */
@font-face {
    font-family: 'Open Sans';
    src:
        local('Open Sans'),
        url("/css/OpenSans.ttf") format("truetype");
}

* {
    font-family: 'Open Sans', var(--sans-serif-fallback);
}

/* Single column designs for all pages */
body {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    
    justify-content: center;
}

/* Normalize lists */
ul {
    padding-left: 0;
}

li {
    margin-left: 1.25rem;
}

/* Animations & transitions */
@media (prefers-reduced-motion: no-preference) {
    * {
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }

    a {transition-property: color;}
    a.link {transition-property: transform;}
}
