main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-row);
    justify-content: center;
    padding: var(--gap-row) 0;
    width: fit-content;
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    text-align: center;
}

img.header {
    max-height: 10rem;
}

section {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    padding: var(--gap-border);
    width: fit-content;
}

h2 {
    font-size: clamp(1.5rem, 7.5vw, 2.25rem);
}

section > p {
    font-size: clamp(1.125rem, 2.35vw, 1.5rem);
}

h3 {
    font-size: clamp(1.375rem, 2.95vw, 2rem);
}
