header {
    align-items: center;
    background-color: var(--normal-text);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: var(--gap-row);
    width: 100%;
}

header > .home {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--gap-border);
    justify-content: center;
}

header > .home > .icon {
    border-radius: var(--gap-border);
    height: var(--controls-side);
    width: var(--controls-side);
}

header > .home > p {
    color: var(--neutral);
    font-size: clamp(2rem, 8.5vw, 2.5rem);
    font-weight: 600;
}

@media (width < 375px) {
    header > .home > p.wide {display: none;}
}

@media (width >= 375px) {
    header > .home > p.narrow {display: none;}
}

main {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-row);
    justify-content: center;
    padding: var(--gap-row) 0;
    width: fit-content;
}

#metadata {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-row);
    justify-content: center;
    padding: var(--gap-row);
    width: fit-content;
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    text-align: center;
}

#cover, #cover * {
    max-width: 20rem;
}

#menu {
    list-style-type: decimal;
    margin-left: 1.75rem;
    padding: var(--gap-row);
    text-align: center;
    width: fit-content;
}

h2 {
    font-size: clamp(1.5rem, 7.5vw, 2rem);
}

#menu > li {
    height: var(--controls-side);
    line-height: var(--controls-side);
    width: fit-content;
}
